@model IEnumerable<DnDWebApp.Models.ClassLevel>

@{
    ViewData["Title"] = "Class Levels";
}

<h1>Class Levels</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Class Name", "Index", new { sortOrder = ViewBag.ClassNameSortParm })
            </th>
            <th>
                @Html.ActionLink("Hit Dice", "Index", new { sortOrder = ViewBag.HitDiceSortParm })
            </th>
            <th>
                @Html.ActionLink("Level", "Index", new { sortOrder = ViewBag.LevelSortParm })
            </th>
            <th>
                @Html.ActionLink("Features", "Index", new { sortOrder = ViewBag.FeaturesSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HitDice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Features)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
